*{
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

body{
    background-color: red;
}

/*center MainApp, and make its position not changeable*/
.MainApp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.task_list{
    display: flex;
    gap: 10px;
}